*{
    font-family: Tahoma;
    background-color: rgb(233, 255, 245);
}

h1 {
    text-decoration: underline;
    text-align: center;
}

.gordon,
.contents {
    margin: auto;
    width: 30%;
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    border: 5px solid rgb(170, 170, 170);
}
.gordon {
    display: block;
    margin-bottom: 30px;
}

.contents {
    font-family: Helvetica;
    text-align: left;
    height: 90px;
    padding: 5px;
}

a {
    color: darkblue;
    text-decoration: none;
}